@font-face {
  font-family: Campton-Light;
  src: url('./assets/fonts/CamptonLight.otf')
}

@font-face {
  font-family: Campton-Medium;
  src: url('./assets/fonts/CamptonMedium.otf')
}

@font-face {
  font-family: Campton-Semibold;
  src: url('./assets/fonts/CamptonSemiBold.otf');
}

.app {
  font-family: 'Campton-Medium', sans-serif;
  line-height: 1.5;
  font-size: 25px;
  background-color: black var(--clr-bg);
  background-image: var(--clr-bg);
  color: var(--clr-main-font);
}

.light {
  --clr-bg: linear-gradient(to right, #cce5f9, #ffe3ea);
  --clr-main-font: #080830;
  --theme-button-color: #080830
}

.dark {
  --clr-bg: linear-gradient(to right, #080830, #027df0);
  --clr-main-font: #fff;
  --theme-button-color: #fff
}

@media only screen and (max-width: 420px) {
  .header-main_logo {
    width: 200px;
    height: 200px;
  }

  .app {
    font-size: 10px;
  }

}