@font-face {
  font-family: Campton-Light;
  src: url('./assets/fonts/CamptonLight.otf') format('OTF')
}

@font-face {
  font-family: Campton-Medium;
  src: url('./assets/fonts/CamptonMedium.otf') format('OTF')
}

@font-face {
  font-family: Campton-Semibold;
  src: url('./assets/fonts/CamptonSemiBold.otf') format('OTF');
}

.app {
  font-family: 'Campton-Medium', sans-serif;
  line-height: 1.5;
  background-color: black var(--clr-bg);

}

.light {
  --clr-bg: linear-gradient(to right, #cce5f9, #ffe3ea);
}

.dark {
  --clr-bg: linear-gradient(to right, #080830, #027df0);
}