@font-face {
  font-family: Campton-Light;
  src: url('./assets/fonts/CamptonLight.otf') format('OTF')
}

@font-face {
  font-family: Campton-Medium;
  src: url('./assets/fonts/CamptonMedium.otf') format('OTF')
}

@font-face {
  font-family: Campton-Semibold;
  src: url('./assets/fonts/CamptonSemiBold.otf') format('OTF');
}

body {
  margin: 0;
  font-family: 'Campton-Medium',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Campton-Medium',
    sans-serif;
}