.header-main {
    display: flex;
    justify-content: space-around;
}

.header-main_logo {
    padding: 10px 0px;
}

.btn-theme {
    padding: 0;
    transition: 1000ms;
    border: none;
    background: none;
    cursor: pointer;
}


.btn-theme:active {
    transform: translateY(-5px);
}