.header-main {
    display: flex;
    justify-content: space-around;
}

.header-main_logo {
    padding: 10px 0px;
}

.btn-theme {
    padding: 0;
    transition: 1000ms;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--theme-button-color);
}


.btn-theme:active {
    transform: translateY(-5px);
}

.banner {
    font-size: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

.h2 {
    padding-left: 10px;
}