.container {
    width: auto;

    border-radius: 6px;
    margin: 10px;
    padding: 5px;
}

.users-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 2em;
    border-collapse: separate;
    font-size: 1.15rem !important;
}